Intern: Rajalakshmanan.C

**#Task 6 Prediction using Decision Tree Algorithm** 

# ***THE SPARKS FOUNDATION***

 1) Importing the packages

In [88]:
import pandas as pd

In [89]:
import numpy as np

2)Loading the dataset

In [90]:
dataset=pd.read_csv("Iris.csv")

In [91]:
dataset

      Id  SepalLengthCm  ...  PetalWidthCm         Species
0      1            5.1  ...           0.2     Iris-setosa
1      2            4.9  ...           0.2     Iris-setosa
2      3            4.7  ...           0.2     Iris-setosa
3      4            4.6  ...           0.2     Iris-setosa
4      5            5.0  ...           0.2     Iris-setosa
..   ...            ...  ...           ...             ...
145  146            6.7  ...           2.3  Iris-virginica
146  147            6.3  ...           1.9  Iris-virginica
147  148            6.5  ...           2.0  Iris-virginica
148  149            6.2  ...           2.3  Iris-virginica
149  150            5.9  ...           1.8  Iris-virginica

[150 rows x 6 columns]

Spliting the data To X and Y
X-> all the rows without the Species Name

In [92]:
X=dataset.iloc[:,:-1]

In [93]:
X

      Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
0      1            5.1           3.5            1.4           0.2
1      2            4.9           3.0            1.4           0.2
2      3            4.7           3.2            1.3           0.2
3      4            4.6           3.1            1.5           0.2
4      5            5.0           3.6            1.4           0.2
..   ...            ...           ...            ...           ...
145  146            6.7           3.0            5.2           2.3
146  147            6.3           2.5            5.0           1.9
147  148            6.5           3.0            5.2           2.0
148  149            6.2           3.4            5.4           2.3
149  150            5.9           3.0            5.1           1.8

[150 rows x 5 columns]

Y-> Species names

In [94]:
Y=dataset.iloc[:,5]

In [95]:
Y

0         Iris-setosa
1         Iris-setosa
2         Iris-setosa
3         Iris-setosa
4         Iris-setosa
            ...
145    Iris-virginica
146    Iris-virginica
147    Iris-virginica
148    Iris-virginica
149    Iris-virginica
Name: Species, Length: 150, dtype: object

In [96]:
from sklearn.preprocessing import LabelEncoder

creating object for labelencoder

In [97]:
labelencoder_X=LabelEncoder()

In [98]:
X=X.apply(LabelEncoder().fit_transform)

In [99]:
X

      Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
0      0              8            14              4             1
1      1              6             9              4             1
2      2              4            11              3             1
3      3              3            10              5             1
4      4              7            15              4             1
..   ...            ...           ...            ...           ...
145  145             24             9             28            19
146  146             20             4             26            15
147  147             22             9             28            16
148  148             19            13             30            19
149  149             16             9             27            14

[150 rows x 5 columns]

importing DecisionTreeClassifier From Sklearn package

In [100]:
from sklearn.tree import DecisionTreeClassifier

Creating an object to  DecisionTreeClassifier

In [101]:
regressor=DecisionTreeClassifier()

Fiting  data values so that better accuracy can be achieved.

In [102]:
regressor.fit(X.iloc[:,1:5],Y)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

Inserting the value into array

In [103]:
X_in=np.array([1,1,0,0])

predicting the y value

In [104]:
Y_pred=regressor.predict([X_in])

In [105]:
Y_pred

array(['Iris-setosa'], dtype=object)

Importing other packages  to get the decision tree output

In [106]:
from sklearn.externals.six import StringIO

In [107]:
from IPython.display import Image

In [108]:
from sklearn.tree import export_graphviz

In [109]:
import pydotplus

In [110]:
dot_data=StringIO()

In [111]:
export_graphviz(regressor,out_file=dot_data,filled=True,rounded=True,special_characters=True)

In [112]:
graph=pydotplus.graph_from_dot_data(dot_data.getvalue())

In [113]:
graph.write_png('tree.png')

True